<html>
				<head>
					<title>A Simple HTTP Server</title>
          <style type="text/css">
            body{
              font-family: monospace;
              margin: 3cm; 
              font-size: 20pt;
            }
            header{
              font-family: 'Courier New', Courier, monospace;
              font-size: 25pt;
            }
             
          </style>
				</head>
        <header>FIll THIS OUT</header>
				<body>
                    <form action="/storyline">
                        <section>
                          <label for="name-text">Insert a noun</label>
                          <input type="text" name="word1" id="name-text">
                        </section>
                        <section>
                          <label for="name-text">Insert a adjective</label>
                          <input type="text" name="word2" id="name-text">
                        </section>
                        <section>
                          <label for="name-text">Insert a noun</label>
                          <input type="text" name="word3" id="name-text">
                        </section>
                      
                      
                      
                      
                        <input type="submit" value="MADLIBS NOW">				</body>
			</html>